{% extends 'layout.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row" style="display: flex; justify-content: space-around; margin-top: 10px;">
        <div class="col-8" style="border: none;  
                                height: 60px; 
                                margin-right: 5px;
                                display: flex;
                                justify-content: space-around;">
                                
         <div class="col-10" style="color: #282828; text-shadow: 0 0 10px #282828;"><i id='home' class="fas fa-home fa-3x"></i></div>
         <div class="col-1" style="color: #282828; text-shadow: 0 0 10px #282828;"><i id="restart" class="fas fa-redo fa-3x"></i></div>
         <div class="col-1" style="color: #282828; text-shadow: 0 0 10px #282828;"><i id="eye" data-state="closed" class="fas fa-eye-slash fa-3x" onclick="seeImage()"></i></div>
        </div>
        <div class="col-3" style="border: solid;
                                    height: 60px;
                                    border-color: #282828;
                                    box-shadow: 0 0 10px #282828;
                                    background-color: #e0a73c;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    align-content: center;">
            <div class="col-6" id='timer' style="background-color: dodgerblue;
                                        color: #282828; 
                                        text-align: center;
                                        padding: 4px;
                                        margin-right: 10px;
                                        box-shadow: 0 0 10px #222222;"></div>

            <div class="col-6" style="background-color: dodgerblue; 
                                        color: #282828; 
                                        text-align: center;
                                        padding: 4px;
                                        box-shadow: 0 0 10px #222222;">49</div>
        </div>
    </div>
    <div class="row" style="display: flex; justify-content: space-around; margin-top: 20px;">
      <div id="leftPanel" class="col-8" style="border: solid; 
                                border-color: #282828; 
                                height: 600px; 
                                box-shadow: 0 0 10px #282828;
                                background-color: #e0a73c;
                                margin-right: 5px;">
        <div id="puzzle" style="background-color: none; width: 285px; height: 285px;
                                display: grid; grid-template-columns: repeat({{ image_info['img_height'] }}, 1fr);">
                            {% for piece_id in image_info['pieces_ids'] %} 
                            <div id="spot" style="width: 70px; height: 70px; border-color: black; border-style: solid;"></div>  
                            {% endfor %} 
                            </div>
                                
        </div>

      <div id="rightPanel" class="col-3" style="border: solid; 
                                border-color: #282828; 
                                height: 600px;
                                box-shadow: 0 0 10px #282828;
                                background-color: #e0a73c;
                                display: grid;
                                grid-template-columns: repeat(4, 1fr);
                                padding: 10px;
                                overflow: auto;">
            {% for piece_id in image_info['pieces_ids'] %}
            <img id="piece" data-piece-id="{{ piece_id }}" 
                    src="/static/{{image_info['folder_name']}}/{{ piece_id }}.jpeg"
                    width="70" height="70"
                    style="box-shadow: 0 0 10px #282828; cursor: pointer;"
                    draggable="true">
            {% endfor %}
      </div>
    </div>
<div id="myModal" class="modal">
  <div class="modal-content">
      <img class="modal_image" src="/static/images/{{ image_name }}.jpg" alt="">
  </div>

</div>
</div>





<script>
    function seeImage(){
        let eye = document.getElementById('eye')
        if(eye.dataset.state === 'closed'){
            eye.className = 'fas fa-eye fa-3x'
            var modal = document.getElementById("myModal");
            modal.style.display = "block";
            window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
                eye.dataset.state="closed"
                eye.className = 'fas fa-eye-slash fa-3x'
            }
            }
        }
    }

    var logo = document.getElementById('logo')
    logo.style.marginLeft = '50px'
</script>
{% endblock %}