{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
<div class="row md-3">
<div class="card col mb-3" style="width: 200px;">
    <a class="category_select" href="/settings"><img src="static/images/category_obj.jpg" class="card-img-top" alt="..."></a>
    <div class="card-body">
    <p class="card-text">Objects</p>
  </div>
</div>
<div class="card col mb-3 " style="width: 200px;">
    <a class="category_select" href="/settings"><img src="static/images/category-nature.jpeg" class="card-img-top" alt="..."></a>
  <div class="card-body">
    <p class="card-text">Nature</p>
  </div>
</div>
<div class="card col mb-3 " style="width: 200px;">
    <a class="category_select" href="/settings"><img src="static/images/category-men.jpeg" class="card-img-top" alt="..."></a>
  <div class="card-body">
    <p class="card-text">Men</p>
  </div>
</div>
</div>
<div class="row md-3">
<div class="card col mb-3" style="width: 200px;">
    <a class="category_select" href="/settings"><img src="static/images/category-sport.jpeg" class="card-img-top" alt="..."></a>
  <div class="card-body">
    <p class="card-text">Sport</p>
  </div>
</div>
<div class="card col mb-3 " style="width: 200px;">
    <a class="category_select" href="/settings"><img src="static/images/category-car.jpeg" class="card-img-top" alt="..."></a>
  <div class="card-body">
    <p class="card-text">Cars</p>
  </div>
</div>
<div class="card col mb-3 " style="width: 200px;">
    <a class="category_select" href="/settings"><img src="static/images/category-women.jpeg" class="card-img-top" alt="..."></a>
  <div class="card-body">
    <p class="card-text">Women</p>
  </div>
</div>
</div>
</div>
{% endblock %}